
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,700,700i&display=swap');

body{
	font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  line-height: 30px !important;
  color: #fff !important;
  font-weight: 300;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}
h1, h2, h3, h4, h5, h6{
	color: #c1a87d;
	text-transform: uppercase;
	text-align: center;
}
.mt-20{
	margin-top: 20px;
}
/*custom style*/
 /* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: -webkit-fill-available;
}
.carousel-caption h3{
	font-size: 60px;
} 
.carousel-caption{
	/*background: #404040c7;*/
	/*border: 1px solid #c1a87d;*/
}
.why-tvh{
	text-align: center;
}
.why-tvh i{
  font-size: 100px;
  display: block;
  padding: 50px 0;
  border: 1px dashed;
  margin: 20px;
}
.why-tvh h2{
	font-size: 38px;
}
.why-tvh h5{
	text-transform: capitalize;
	font-size: 18px;
}
.tvh-list-property{
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.p-tb-100{
	padding: 100px 0;
}
/*flip animation style starts*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	height: 360px;
	width: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	background: #485461;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.flip-card-front span{
	display: block;
  padding: 15px 0;
  text-align: center;
}
.flip-card-front span label {
    /* background: palegoldenrod; */
    padding: 2px 20px;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #c1a87d;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
}
.flip-card-back {
    color: white;
    padding: 10px;
}
.flip-card-back ul{
	list-style: none;
	padding: 0;
	text-align: center;
}
.flip-card-back ul li {
    padding: 5px 0;
}
.flip-card-back a {
    background: #bea67c;
    padding: 5px 50px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
}
/*flip animaiton style ends*/
.tvh-list-property{
	/*background-color: #9dc5c3;*/
	/*background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);*/
}
.tvh-list-property h2{
	margin-bottom: 60px;
	font-size: 38px;
}
.tvh-video-section{
	height: 500px;
}
.tvh-milestones-section{
	background: url('../images/tvh-milestone.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	position: relative;
}
.tvh-milestones-section i{
	font-size: 58px;
	font-style: normal;
}
.tvh-milestones-section p{
	font-size: 25px;
	margin: 20px 0;
}

/*header style*/
header{
	position: relative;
}
.tvh-navbar-container{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.tvh-navbar-inner ul{
	list-style: none;
	text-align: center;
	margin: 0;
}
.tvh-navbar-inner ul li a{
	padding: 20px 0;
    display: block;
    font-size: 3em;
    color: #c1a87d;
}
.tvh-navbar, .tvh-navbar-inner{
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

/*footer style*/
.footer-container{
	background: #151515;
	padding: 50px 20px 0 20px;
}
.footer-container ul{
	list-style: none;
	margin-bottom: 30px;
	padding: 0;
}
.footer-container ul li{
	margin: 10px 0;
}
.footer-container ul li a{
	color: #ccc;
	transition: 0.3s ease-out;
}
.footer-container ul li a:hover{
	color: #c1a87d;
}
.footer-container ul li p{
	text-align: justify;
	margin: 0;
}
.footer-container h4{
	text-align: left;
}
.copy-right-section{
	text-align: right;
	border-top: 2px solid #c1a87d;
    padding: 20px 0 !important;
}
.copy-right-section li{
	display: inline-block;
}
.copy-right-section li a{
	padding: 0 10px;
}
.tvh-overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000000a6;
	z-index: 10;
}
